#brands{
    padding: $section-padding;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    p{
        cursor: default;
    }
    
    .brand-logos{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1025px;
        margin: 5em 0em;
        
    }
}